.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: medium;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
}
.App-logo-bis {
  animation: App-logo-spin infinite 2s reverse linear;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.cookies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn {
  font-size: medium;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.btn-delete {background-color: #dc3545;}
.btn-primary {background-color: #5cb85c;}
.btn-update {background-color: #007bff;margin-top: 10px;}
.btn-delete:hover {background-color: #ac2925;}
.btn-primary:hover{background-color: #398439}
.btn-update:hover{background-color: #204d74;}

table th {
  background-color: #5cb85c;
  color: white;
  text-align: left;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {background-color: #ddd;}

table tr:nth-child(even){background-color: #f2f2f2;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}